<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img class="logo" src="assets/img/mg_poly.png" />
        <div class="desc-box">
          <div class="headshot">
            <img src="assets/img/mack-headshot.png" />
          </div>
          <div class="desc-wrap">
            <div class="description">{{ site.description }}</div>
            <div class="description">{{ site.location }}</div>
            <div class="description">{{ site.email }}</div>
          </div>
        </div>
        <div class="socials">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        </div>
        <h5 class="insta-title"><i class="fa fa-instagram" aria-hidden="true"></i> FEED</h5>
        <div id="instafeed"></div>
      </header>
      <section>
        <div class="typing-header">
          <div class="header-text">Hi, I'm Mack!</div>
        </div>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ '/assets/js/lib/typed.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/lib/instafeed.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="https://use.fontawesome.com/b6f622dd5d.js"></script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
